<?xml version="1.0"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="aaa" value="safas" />
    <add key="key" value="rLJNp60heOSmnVPAslFzRF9/K5vAwxTSAW4BA5i1tlzcUPB7HVPLUvlUw+WxsTbpX1cN2GwKUQG5PT7eQ12AJQ==" />
    <add key="bbb" value="4U1uWix9lAjSnfvMclmEyqb9CKx3szsJUAg3Xl863mn22fClylluGdiP++Y1SgYrLlK0Du09m5sUUawVBYMljPjaEMohu5hMq41wX4kpALPuG6t4xzHhEWt1p5SQ9Ey2" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>